// Reusable SCSS Mixins

// Flexbox Center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Smooth Transition
@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
    transition: $property $duration $timing;
}

// Background Image Cover
@mixin bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Responsive Media Queries
@mixin respond($breakpoint) {
    @if $breakpoint ==medium {
        @media (min-width: $medium) {
            @content;
        }
    }

    @if $breakpoint ==large {
        @media (min-width: $large) {
            @content;
        }
    }
}