// Cart Responsive - Medium Screens
@media (min-width: $medium) {
    .cart {
        &__item {
            &-quantity {
                button {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}